<div  *ngIf="data | async as data">
<ng-container *ngIf="data.showProfile || this.canEditPlayer; else privateProfile">
  <section class="py-sm-2 py-1 ">
    <div class="container">
      <div class="row pt-5">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h2 class="mb-0 text-gradiant text-dark">{{data.firstName}} {{data.lastName}}</h2>
          <ng-container *ngIf="user | async as user">
            <a [routerLink]="['/profile', data._id,'edit']" class="btn btn-sm bg-gradient-info btn-round mb-0 me-1 mt-2 mt-md-0 text-white" *ngIf="authService.canEditPlayer(user, data._id)"><i class="fa fa-regular fa-pen-to-square text-md px-1"></i><span class="d-none d-md-inline">Edit</span></a>
          </ng-container>
          <h2 class="mb-0 text-end text-gradiant text-dark">Class Of {{data.academic.gradYear}}</h2>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-lg-3 col-md-5 col-sm-12 pb-2 pb-md-7">
            <img class="img border-radius-lg img-fluid" src="{{data.picUrl}}" alt="Player Photo">
        </div>
        <div class="col-lg-9 col-md-8">
          <p class="text-lg mt-md-4" style="white-space: pre-line">
            {{data.bio}}
          </p>
          <div class="row">
            <dt class="col-2">Social Media</dt>
            <dd class="col-10">
              <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let media of data.social_media"><a href="{{media.url}}" target="_blank"><i class="fa fa-brands fa-{{media.type}} px-2"></i>{{media.acct_id}}</a></li>
              </ul>
            </dd>
            <dt class="col-2">Contact Info</dt>
            <dd class="col-10">
              <ul class="list-inline">
                <li class="list-inline-item"><a href="mailto:{{data.email}}"><i class="ni ni-email-83 px-2"></i>{{data.email}}</a></li>
                <li class="list-inline-item"><i class="fa fa-phone px-2"></i>{{data.phone}}</li>
              </ul>
            </dd>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Testimonials w/ user image & text & info -->
  <!-- START Blogs w/ 4 cards w/ image & text & link -->
  <section class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-10 border-column">
          <h3>Academics</h3>
          <dl class="row">
            <dt class="col-4">GPA</dt><dd class="col-8">{{data.academic.gpa}}</dd>
            <ng-container *ngIf="data.academic.classRank">
              <dt class="col-4">Class Rank</dt><dd class="col-8">{{data.academic.classRank}} of {{ data.academic.classSize}}</dd>
            </ng-container>
            <ng-container *ngIf="data.academic.act">
              <dt class="col-4">ACT</dt><dd class="col-8">{{data.academic.act}}</dd>
            </ng-container>
            <ng-container *ngIf="data.academic.sat">
              <dt class="col-4">SAT</dt><dd class="col-8">{{data.academic.sat}}</dd>
            </ng-container>
            <ng-container *ngIf="data.academic.clubs && data.academic.clubs.length > 0">
              <dt class="col-4">Clubs</dt>
                <ng-container *ngFor="let club of data.academic.clubs">
                  <dd class="col-8">
                    {{club}}
                  </dd>
                  <dt class="col-4"></dt>
                </ng-container>
              <dd clas="col-9"></dd>
            </ng-container>
            <ng-container *ngIf="data.academic.awards && data.academic.awards.length > 0">
              <dt class="col-4">Awards</dt>
              <ng-container *ngFor="let award of data.academic.awards">
                <dd class="col-8">
                  {{award}}
                </dd>
                <dt class="col-4"></dt>
              </ng-container>
              <dd class="col-8"></dd>
            </ng-container>
        </dl>
        </div>
        <div class="col-lg-5 col-sm-10 border-column">
          <h3>Athletics</h3>
          <dl class="row">
            <ng-container *ngIf="data.athletic.ncaaId">
              <dt class="col-3">NCAA ID</dt>
              <dd class="col-8">{{ data.athletic.ncaaId }}</dd>
            </ng-container>
            <ng-container *ngIf="data.height">
              <dt class="col-3">Height</dt>
              <dd class="col-8">{{ data.height }}</dd>
            </ng-container>
            <ng-container *ngIf="data.weight">
              <dt class="col-3">Weight</dt>
              <dd class="col-8">{{ data.weight }}</dd>
            </ng-container>
            <dt class="col-3">Positions</dt>
            <dd class="col-8">
              <span *ngFor="let position of data.athletic.position; index as i">{{position}}<ng-container *ngIf="i< data.athletic.position.length -1"> / </ng-container></span>
            </dd>
            <dt class="col-3">Exp.</dt><dd class="col-8">{{data.athletic.experience}}</dd>
            <ng-container *ngIf="data.athletic.awards && data.athletic.awards.length > 0">
              <dt class="col-3">Awards</dt>
              <ng-container *ngFor="let award of data.athletic.awards">
                <dd class="col-8">
                  {{award}}
                </dd>
                <dt class="col-3"></dt>
              </ng-container>
              <dd class="col-8"></dd>
            </ng-container>
            <ng-container *ngIf="data.athletic.teams && data.athletic.teams.length > 0">
              <dt class="col-3">Teams</dt>
              <ng-container *ngFor="let team of data.athletic.teams">
                <dd class="col-8">
                  <a [routerLink]="['/team', team.team_id]">{{team.team_name}}<i class="fa fa-external-link ps-2 text-xs"></i></a>
                </dd>
                <dt class="col-3"></dt>
                <dd class="col-8"><a href="mailto:{{team.coach_email}}"><i class="fa fa-envelope px-2"></i>{{team.coach}}</a></dd>
                <dt class="col-3"></dt>
              </ng-container>
            </ng-container>
          </dl>
          <h3>Media</h3>
          <ul class="list-unstyled">
            <li *ngFor="let link of data.highlights"><a href="{{link.url}}" target="_blank"><i class="fa fa-brands fa-youtube px-2"></i>{{link.description}}</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-10">
          <ng-container *ngIf="games && games.length > 0">
            <app-games [games]="games"></app-games>
          </ng-container>
        </div>
      </div>
    </div>
  <app-qr-card></app-qr-card>
  </section>
  </ng-container>
  <ng-template #privateProfile>
    <section class="py-sm-2 py-1 ">
      <div class="container">
        <div class="row pt-5">
            <div class="row">
              <h5>Profile is Private</h5>
            </div>
            <div class="row">
              <p>This player has chosen not to make their profile public at this time.</p>
            </div>
        </div>
      </div>
    </section>
  </ng-template>
  <!-- END Blogs w/ 4 cards w/ image & text & link -->
</div>
