<div>
    <section class="py-sm-2 py-1 ">
        <div class="container">
          <div class="row"  *ngIf="data | async as data">
            <div class="col">
              <h3>{{ data.firstName }} {{ data.lastName }}</h3>
            </div>
            <div class="col align-right">
              <a [routerLink]="['/profile', data._id]" class="btn btn-sm bg-gradient-info btn-round mb-0 me-1 mt-2 mt-md-0"><i class="fa fa-regular fa-user mx-1"></i>View Profile</a>
            </div>
          </div>
          <form class="g-3" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
            <div class="row">
              <div class="col-12"><h5>Personal & Contact Info</h5></div>
              <ng-container  *ngIf="!data">
                <div class="mb-3 form-floating">
                  <input formControlName="_id" type="text" name="_id" id="_id" class="form-control"/>
                  <label for="_id" class="form-label">Profile ID</label>
                </div>
                <div class="mb-3 form-floating col-6">
                  <input formControlName="firstName" type="text" name="firstName" id="firstName" class="form-control"/>
                  <label for="firstName" class="form-label">First Name</label>
                </div>
                <div class="mb-3 form-floating col-6">
                  <input formControlName="lastName" type="text" name="lastName" id="lastName" class="form-control"/>
                  <label for="lastName" class="form-label">Last Name</label>
                </div>
              </ng-container>
              <div class="col-6 mb-3 form-floating">
                <input formControlName="email" type="text" name="email" id="email" class="form-control"/>
                <label for="email" class="form-label">Email</label>
              </div>
              <div class="col-6 mb-3 form-floating">
                <input formControlName="phone" type="text" name="phone" id="phone" class="form-control"/>
                <label for="phone" class="form-label">Phone</label>
              </div>
              <div class="mb-3 form-floating">
                <textarea rows="60" formControlName="bio" type="text" name="bio" id="bio" class="form-control input-height-lg" style="min-height: 300px;"></textarea>
                <label for="bio" class="form-label">Bio</label>
              </div>
              <div class=" col-4 mb-3 form-floating">
                <input formControlName="height" type="text" name="height" id="height" class="form-control"/>
                <label for="height" class="form-label">Height</label>
              </div>
              <div class="col-4 mb-3 form-floating">
                <input formControlName="weight" type="text" name="weight" id="weight" class="form-control"/>
                <label for="weight" class="form-label">Weight</label>
              </div>
              <div class="col-6 mb-3 form-floating">
                <input formControlName="picUrl" type="text" name="picUrl" id="picUrl" class="form-control"/>
                <label for="picUrl" class="form-label">Picture URL</label>
              </div>
              <ng-container formArrayName="social_media">
                <div *ngFor="let media of getSocialMedia(); index as i">
                  <ng-container [formGroupName]="i">
                    <div class="row">
                      <div class="mb-3 form-floating col-3">
                        <select class="form-select" formControlName="type" name="type" id="type" class="form-control">
                          <option value="twitter"><i class="fab fa-twitter px-2">Twitter</i></option>
                          <option value="instagram"><i class="fab fa-instagram px-2">Instagram</i></option>
                        </select>
                        <label for="type" class="form-label">Type</label>
                      </div>
                      <div class="mb-3 form-floating col-3">
                        <input formControlName="acct_id" type="text" name="acct_id" id="acct_id" class="form-control"/>
                        <label for="acct_id" class="form-label">ID</label>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <div class="form-floating">
                <button class="btn bg-gradient-primary mx-1" type="submit">Save Profile</button>
                <button class="btn btn-outline-secondary" type="reset">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <!-- END Testimonials w/ user image & text & info -->
      <!-- START Blogs w/ 4 cards w/ image & text & link -->
      <section class="py-2">
        <div class="container">
          <form class="g-3" [formGroup]="academicsForm" (ngSubmit)="saveAcademics()">
          <div class="row">
            <div class="col-12"><h5>Academic Info</h5></div>
            <div class="col mb-3 form-floating">
              <input formControlName="gpa" type="text" name="gpa" id="gpa" class="form-control"/>
              <label for="gpa" class="form-label">GPA</label>
            </div>
            <div class="mb-3 form-floating col">
              <input formControlName="classRank" type="text" name="classRank" id="classRank" class="form-control"/>
              <label for="classRank" class="form-label">Class Rank</label>
            </div>
            <div class="mb-3 form-floating col">
              <input formControlName="classSize" type="text" name="classSize" id="classSize" class="form-control"/>
              <label for="classSize" class="form-label">Class Size</label>
            </div>
            <div class="mb-3 form-floating col">
              <input formControlName="act" type="text" name="act" id="act" class="form-control"/>
              <label for="act" class="form-label">ACT</label>
            </div>
            <div class="mb-3 form-floating col">
              <input formControlName="sat" type="text" name="sat" id="sat" class="form-control"/>
              <label for="sat" class="form-label">SAT</label>
            </div>
          </div>
          <ng-container formArrayName="awards">
            <h6 class="pt-5">Awards</h6>
            <div class="row"  *ngFor="let award of getAcademicAwards(); index as i">
              <div class="mb-3 form-floating col-10">
                <input [formControlName]="i" type="text" name="i" id="i" class="form-control"/>
                <label for="i" class="form-label">Award</label>
              </div>
              <div class="col-2">
                <button class="rounded-circle bg-gradient-danger shadow text-center text-xxs" (click)="removeEntry(i, 'academic.awards')">
                  <i class="fas fa-minus opacity-10"></i>
                </button>
              </div>
            </div>
            <div class="col mb-3">
              <button class="rounded-circle bg-gradient-info shadow text-center" (click)="addAcademicAward()">
                <i class="fas fa-plus opacity-10"></i>
              </button>
            </div>
          </ng-container>
          <ng-container formArrayName="clubs">
            <h6 class="pt-5">Clubs</h6>
            <div class="row"  *ngFor="let club of getAcademicClubs(); index as i">
              <div class="mb-3 form-floating col-10">
                <input [formControlName]="i" type="text" name="i" id="i" class="form-control"/>
                <label for="i" class="form-label">Club</label>
              </div>
              <div class="col-2">
                <button class="rounded-circle bg-gradient-danger shadow text-center text-xxs" (click)="removeEntry(i, 'clubs')">
                  <i class="fas fa-minus opacity-10"></i>
                </button>
              </div>
            </div>
            <div class="col-12 mb-3">
              <button class="rounded-circle bg-gradient-info shadow text-center" (click)="addAcademicClub()">
                <i class="fas fa-plus opacity-10"></i>
              </button>
            </div>
          </ng-container>
          <div class="row pt-3">
            <div class="form-floating">
              <button class="btn bg-gradient-primary mx-1" type="submit">Save Academics</button>
              <button class="btn btn-outline-secondary" type="reset">Reset</button>
          </div>
          </div>
          </form>
        </div>
      </section>
      <section class="py-2">
        <div class="container">
          <form class="g-3" [formGroup]="athleticsForm" (ngSubmit)="saveAthletics()">
            <div class="row">
              <div class="col-12"><h5>Athletic Info</h5></div>
              <div class="row">
                <div class="col-2 mb-3 form-floating">
                  <input formControlName="experience" type="text" name="experience" id="experience" class="form-control"/>
                  <label for="experience" class="form-label">Years Exp</label>
                </div>
                <div class="col-3 mb-3 form-floating">
                  <select formControlName="recruitment" type="text" name="recruitment" id="recruitment" class="form-control">
                    <option value="OPEN">Open</option>
                    <option value="CLOSED">Closed</option>
                    <option value="COMMITTED">Committed</option>
                  </select>
                  <label for="recruitment" class="form-label">Recruitment Status</label>
                </div>
                <div class="col-6 mb-3 form-floating">
                  <input formControlName="committed_school" type="text" name="committed_school" id="committed_school" class="form-control"/>
                  <label for="committed_school" class="form-label">Committed School</label>
                </div>
              </div>
              <ng-container formArrayName="position">
                <h6 class="pt-4">Positions</h6>
                <div class="row">
                    <div class="col-2 mb-3 form-floating" *ngFor="let award of getPositions(); index as i">
                        <input [formControlName]="i" type="text" name="i" id="i" class="form-control"/>
                        <label for="i" class="form-label">Position</label>
                        <button class="rounded-circle bg-gradient-danger shadow text-center text-xxs" (click)="removeEntry(i, 'positions')">
                          <i class="fas fa-minus opacity-10"></i>
                        </button>
                    </div>
                </div>
                <div class="col mb-3">
                  <button class="rounded-circle bg-gradient-info shadow text-center" (click)="addPosition()">
                    <i class="fas fa-plus opacity-10"></i>
                  </button>
                </div>
              </ng-container>
              <ng-container formArrayName="awards">
                <h6 class="pt-5">Awards</h6>
                <div class="row" *ngFor="let award of getAthleticsAwards(); index as i">
                  <div class="mb-3 form-floating col-10">
                    <input [formControlName]="i" type="text" name="i" id="i" class="form-control"/>
                    <label for="i" class="form-label">Award</label>
                  </div>
                  <div class="col-2">
                    <button class="rounded-circle bg-gradient-danger shadow text-center text-xxs" (click)="removeEntry(i, 'athletic.awards')">
                      <i class="fas fa-minus opacity-10"></i>
                    </button>
                  </div>

                </div>
                <div class="col mb-3">
                  <button class="rounded-circle bg-gradient-info shadow text-center" (click)="addAthleticAward()">
                    <i class="fas fa-plus opacity-10"></i>
                  </button>
                </div>
              </ng-container>
              <div class="col-12">
                <h6 class="pt-5">Teams</h6>
              </div>
              <ng-container formArrayName="teams">
                <div *ngFor="let team of getTeams(); index as i">
                  <ng-container [formGroupName]="i">
                    <div class="row pb-4">
                      <div class="mb-3 form-floating col-4">
                        <input formControlName="team_id" name="team_id" id="team_id" type="hidden"/>
                        <input formControlName="team_name" name="team_name" id="tyteam_namepe" class="form-control" readonly/>
                        <label for="team_name" class="form-label">Team Name</label>
                      </div>
                      <div class="mb-3 form-floating col-1">
                        <input formControlName="jersey" type="text" name="jersey" id="jersey" class="form-control"/>
                        <label for="jersey" class="form-label">Jersey</label>
                      </div>
                      <div class="mb-3 form-floating col-2">
                        <input formControlName="coach" type="text" name="coach" id="coach" class="form-control" readonly/>
                        <label for="coach" class="form-label">Coaches Name</label>
                      </div>

                      <div class="mb-3 form-floating col-sm-12 col-md-4">
                        <input formControlName="coach_email" type="text" name="coach_email" id="coach_email" class="form-control" readonly/>
                        <label for="coach_email" class="form-label">Coach Email</label>
                      </div>
                      <div class="col-1">
                        <button class="rounded-circle bg-gradient-danger shadow text-center text-xxs" (click)="removeEntry(i, 'teams')">
                          <i class="fas fa-minus opacity-10"></i>
                        </button>
                      </div>
                    </div>
                  </ng-container>

                </div>
                <div class="col mb-3">
                  <button class="rounded-circle bg-gradient-info shadow text-center" (click)="addTeam()">
                    <i class="fas fa-plus opacity-10"></i>
                  </button>
                </div>
              </ng-container>
              <div class="form-floating">
                <button class="btn bg-gradient-primary mx-1" type="submit">Save Atheltics</button>
                <button class="btn btn-outline-secondary" type="reset">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="py-2">
        <div class="container">
          <form class="g-3" [formGroup]="mediaForm" (ngSubmit)="saveMedia()">
            <div class="row">
              <div class="col-12"><h5>Highlights</h5></div>
              <ng-container formArrayName="highlights">
                <div *ngFor="let media of getHighlights(); index as i">
                  <ng-container [formGroupName]="i">
                    <div class="row">
                      <div class="mb-3 form-floating col-3">
                        <select class="form-select" formControlName="type" name="type" id="type" class="form-control">
                          <option value="youtube"><i class="icon fab fa-youtube px-2">Youtube</i></option>
                        </select>
                        <label for="type" class="form-label">Type</label>
                      </div>
                      <div class="mb-3 form-floating col-lg-6 col-sm-9">
                        <input formControlName="url" type="text" name="url" id="url" class="form-control"/>
                        <label for="url" class="form-label">URL</label>
                      </div>
                      <div class="mb-3 form-floating col-sm-12 col-lg-9">
                        <input formControlName="description" type="text" name="description" id="description" class="form-control"/>
                        <label for="description" class="form-label">Title</label>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="col mb-3">
                  <button class="rounded-circle bg-gradient-info shadow text-center" (click)="addHighlight()">
                    <i class="fas fa-plus opacity-10"></i>
                  </button>
                </div>
              </ng-container>
              <div class="form-floating">
                <button class="btn bg-gradient-primary mx-1" type="submit">Save Highlights</button>
                <button class="btn btn-outline-secondary" type="reset">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <!-- END Blogs w/ 4 cards w/ image & text & link -->
    </div>

<ng-container *ngIf="showTeamSearch">
  <div class="modal fade">
    <div class="mb-3 form-floating col-4 input-group">
      <input type="text" name="team_name_search" id="team_name_search" class="form-control" [(ngModel)]="teamSearchTerm"/>
      <label for="team_name_search" class="form-label">Team Name</label>
      <button class=" text-md btn bg-gradient-info mb-0" type="button" id="button-addon2" (click)="searchTeams()" [disabled]="!teamSearchTerm"><i class="fa fa-search px-2"></i>Search</button>
    </div>
  </div>
</ng-container>

