.logo-img
    height: 100px

.avatar, .avatar-xl
  object-fit: contain
  height: 100px !important


@media (min-width: 992px)
  .team-column
    border-right: #e9e8e8
    border-right-width: 1px
    border-right-style: inset

