<section class="py-sm-2 py-1 " *ngIf="team | async as team">
    <div class="container">
        <div class="col-12 mx-auto">
            <div class="row py-lg-5 py-3">
                <div class="col-lg-2 col-3">
                    <img class="img border-radius-sm img-fluid" src="{{team.team_logo}}" alt="Team Logo">
                </div>
                <div class="col-lg-8 col-sm-9">
                    <h2 class="mb-0 text-gradiant text-dark">{{team.team_name}}</h2>
                    <div class="row py-lg-3 py-1">
                      <dt class="col-2">Coach</dt><dd class="col-10">{{team.coach}}</dd>
                      <dt class="col-2">Email</dt><dd class="col-10"><a href="mailto:{{team.coach_email}}" class="icon-link"><i class="ni ni-email-83 px-2"></i>{{team.coach_email}}</a>
                      <dt class="col-2">Social Media</dt><dd class="col-10">
                      <ul class="list-inline">
                        <li class="list-inline-item" *ngFor="let media of team.social_media"><a href="{{media.url}}" target="_blank"><i class="fa fa-brands fa-{{media.type}} px-2"></i>{{media.acct_id}}</a></li>
                      </ul>
                    </dd>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="py-2"  *ngIf="team | async as team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-10 team-column" *ngIf="players | async as players">
                <h3>Roster<span class="badge text-dark text-sm">({{players.length}})</span></h3>

                <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Player</th>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Grad Year</th>
                        <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Positions</th>
                        <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Jersey</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of players" (click)="player.showProfile ? viewProfile(player._id) :  null">
                          <td>
                          <div class="d-flex px-2 py-1">
                              <div>
                                <img src="{{player.picUrl || './assets/img/SBV_Logo_Photo.png'}}" class="avatar avatar-xl me-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                              <div class="mb-0 text-lg text-bolder">{{player.firstName}} {{player.lastName}}
                                <i class="fa fa-external-link text-sm" *ngIf="player.showProfile"></i></div>
                                <h6 class="text-xs">Recruitment: {{ player.athletic?.recruitment}}</h6>
                              </div>
                          </div>
                          </td>
                          <td>
                              <p class="text-lg font-weight-bold mb-0">{{player.academic.gradYear}}</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                              <p class="text-lg font-weight-bold mb-0">{{player.athletic.position}}</p>
                          </td>
                          <td class="align-middle text-center text-sm" *ngIf="getCurrentTeamRoster(player) as roster">
                              <p class="text-lg font-weight-bold mb-0">{{roster.jersey }}</p>
                          </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="col-lg-6 col-sm-10 px-2" *ngIf="team.games">
              <app-games [games]="team.games"></app-games>
            </div>
        </div>
    </div>
</section>
<app-qr-card></app-qr-card>


